html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Consolas, monospace;
}

body {
  background-image: url("https://preview.redd.it/1iwcit1gidyy.jpg?auto=webp&s=2e7883b8b95e0d5ed00e66d862992b618b8a3796");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
}

main {
  background-color: #212121;
  border: 1px solid #2fe8f6;
  border-top-style: hidden;
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-height: 80vh;
  overflow: auto;
  padding: 1rem;
}

/* Estilo geral */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

h1, h2 {
  font-weight: bold;
  text-indent: 2em;
}

a {
  color: #f5f5f5;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

/* Estilo do cabeçalho */
header {
  background-color: #212121;
  border: 1px solid #2fe8f6;
  padding: 1rem;
  width: 80vw;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  font-size: 20px;
  margin: 0 30px;
}

/* Estilo da seção "Sobre mim" */
.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.content {
  display: flex;
  align-items: center;
}

.about-me {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
}

/* Estilo da seção "Educação" */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

b {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.download-links {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}

.download-links a {
  display: inline-block;
  background-color: #333333;
  color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Ocultar todas as seções, exceto a seção "Sobre mim" */
main section:not(#sobre-mim) {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://preview.redd.it/1iwcit1gidyy.jpg?auto=webp&s=2e7883b8b95e0d5ed00e66d862992b618b8a3796") no-repeat center center fixed;
    background-size: cover;
    padding: 20%;
  }

  nav {
	flex-wrap: wrap;
	}

	nav a {
	margin: 10px;
	}

	main {
  display: flex;
  flex-direction: column;
  align-items: center;
	}

}

